@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
  background-color: #101010;
  color: #F0F0F0;
  font-family: Inter;
  margin: 0;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

::selection {
  color: #101010;
  background-color: #FFE551;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}

a {
  color: #FFE551;
  text-decoration: none;
}

a:hover {
  background-color: #FFE551;
  color: #101010;
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100%;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

main {
  display: flexbox;
  margin-bottom: 5rem;
}

.enter-button {
  background-color: #FFE551;
  color: #101010;
  border: none;
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  font-weight: 700;
}

ul li a {
  color: inherit;
  text-decoration: inherit;
}

ul li a:hover {
  background-color: #FFE551;
  color: #101010;
}

.cityscape-frame, img {
  width: 100%;
  overflow: hidden;
  user-select: none;
}

.cityscape {
  line-height: 1em;
  font-size: 1.35em;
  display: inline;
  mix-blend-mode: exclusion;
  position: relative;
  background: linear-gradient(#FFE551, #FFE551);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
  letter-spacing: -1.5px;
  /*
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  */
}

@keyframes scroll {
  from {
    left: 0%;
  }
  to {
    left: -25%;
  }
}

p {
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  body {
    width: 90%;
  }

  main h1 {
    font-size: 3rem;
  }

  main h3 {
    font-size: 1.5rem;
  }

  ul li {
    font-size: 1.5rem;
  }

  .enter-button {
    font-size: 1rem;
    padding: 0.5rem;
  }

  p {
    font-size: 1rem;
  }

  .cityscape {
    animation-duration: 15s;
  }
}

@media screen and (min-width: 700px) and (max-width: 1300px) {
  body {
    width: 70%;
  }

  main h1 {
    font-size: 6rem;
  }

  main h3 {
    font-size: 3rem;
  }

  ul li {
    font-size: 3rem;
  }

  .enter-button {
    font-size: 2rem;
    padding: 1rem;
  }

  p {
    font-size: 1.5rem;
  }

  .cityscape {
    animation-duration: 20s;
  }
}

@media screen and (min-width: 1300px) {
  body {
    width: 60%;
  }

  main h1 {
    font-size: 6rem;
  }

  main h3 {
    font-size: 3rem;
  }

  ul li {
    font-size: 3rem;
  }

  .enter-button {
    font-size: 2rem;
    padding: 1rem;
  }

  p {
    font-size: 1.5rem;
  }

  .cityscape {
    animation-duration: 30s;
  }
}